
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #004d40; 
    font-family: Arial, sans-serif;
}


.container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 20px;
    padding: 20px;
    border: 5px solid red;
    background-color: #004d40;
}


h2 {
    color: white;
    text-align: center;
    margin: 0;
}


.content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
}


.content-box {
    background-color: #00e676; 
    border: 3px solid black; 
    padding: 20px; 
    text-align: left; 
}

.content-box p {
    color: black;
    margin: 5px 0;
    font-size: 16px;
    line-height: 1.5;
}